@import 'styles/mixin';

.j-input__input {
  @extend %text-paragraph;

  background: var(--white);
  border: 1px solid var(--grey);
  border-radius: 24px;
  color: var(--pink-jussi);
  padding: 8px 16px;
  width: 100%;

  &::placeholder {
    color: var(--pink-jussi);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--grey);
  }
}
