.register-lead {
  padding: 136px 0;
}

.register-lead__container {
  margin: 0 auto;
  max-width: 535px;
  width: 100%;
}

.register-lead__titles {
  position: relative;
  text-align: center;

  h2 {
    margin: 0 0 24px 0;

    &:first-child {
      margin: 0 0 0 -48px;
      position: absolute;
    }
  }
}

.register-lead__register {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    border-bottom: 1px solid var(--green-jussi);
    display: block;
    width: 502px;
  }
}

.register-lead__input {
  background-color: var(--black);
  border: none;
  color: var(--white);

  &::placeholder {
    color: var(--white);
  }

  &:focus {
    border: none;
  }
}

.register-lead__input-container {
  border-bottom: 1px solid var(--green-jussi);
  display: inline-block;
  width: 100%;

  @media (min-width: 768px) {
    border-bottom: none;
    margin-left: -16px;
    width: 404px;
  }
}

.register-lead__button {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding-right: 0;
    text-align: right;
  }
}
