.j-section {
  width: 100%;
}

.j-section--white {
  background-color: var(--white);
}

.j-section--black {
  background-color: var(--black);
}

.j-section--pink {
  background-color: var(--pink-jussi);
}

.j-section--green {
  background-color: var(--green-jussi);
}
