.contact-us {
  padding: 136px 0;
}

.contact-us__container {
  margin: 0 auto;
  max-width: 676px;
  text-align: center;
  width: 100%;
}

.contact-us__title {
  margin: 0 0 32px 0;
}

.contact-us__contact {
  margin: 0 0 8px 0;
}

.contact-us__mail {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1rem;

  @media (min-width: 375px) {
    font-size: 2rem;
    line-height: 1.5rem;
  }
}
