@import 'styles/mixin';

.j-title {
  color: var(--black);
}

.j-title--extra-large {
  @extend %text-extra-large;
}

.j-title--large {
  @extend %text-large;
}

.j-title--black {
  color: var(--black);
}

.j-title--white {
  color: var(--white);
}

.j-title--green {
  color: var(--green-jussi);
}
